/*div {*/
/*    border: lightgrey dotted 1px;*/
/*}*/

/** {box-sizing: border-box}*/

body {
    max-width: 1024px;
    margin-inline: auto;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

#main-board {
    border: #974627 solid 2px;
    border-radius: 20px;
    padding: 20px;
    margin-block: 40px;
    margin-inline: 10px;
}

#main-board-top {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#img_du_pendu {
    max-width: calc(724px * 0.5);
    height: auto;
}

#keyboard {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.letter-key {
    width: 20px;
    height: 26px;
    text-align: center;
    color: whitesmoke;
    background-color: #ce9f6b;
    border: #974627 solid 2px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    font-family: "Arial", serif;
    /*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);*/

}

.letter-key:hover {
    background-color: #974627;
}

.letter-key[data-disabled="true"] {
    background-color: #967d71;
    color: #b39f8f;
    border: #968178 solid 2px;
}

#secret_word {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: "Arial", serif;
    font-size: 26px;
    letter-spacing: 8px;
    margin-top: 20px;
    margin-bottom: 5px;
    /*border: lightgrey dotted 1px;*/
}
